
.vs/krasky/v15/Server/sqlite3/storage.ide-shm
.vs/krasky/v15/Server/sqlite3/storage.ide
.vs/krasky/v15/Server/sqlite3/storage.ide-wal
*.ide
.vs/krasky/v15/Server/sqlite3/storage.ide
*.ide
.vs/krasky/v15/.suo
.vs/krasky/v15/.suo
.vs/krasky/v15/.suo
.vs/krasky/v15/Server/sqlite3/db.lock
.vs/krasky/v15/Server/sqlite3/storage.ide
.vs/krasky/v15/Server/sqlite3/db.lock
*.lock
